.hidden{
    display: none;
}
.bg{
    display: none;
}

/*SETTING THE*/
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1556463208-f8c2505e8299?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    z-index: -9;
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .search-box{
      margin-left: auto;
  }
  .search-button{
    margin-right: auto;
    margin-left: 1%;
}

   

body{
    background-image: url ("https://www.google.com/imgres?imgurl=https%3A%2F%2Fs3.ap-south-1.amazonaws.com%2Ffloweraura-blog-img%2Fpeople-at-newYear%2FCover-Photo.jpg&imgrefurl=https%3A%2F%2Fwww.floweraura.com%2Fblog%2Ftypes-people-new-years-party&tbnid=fEU81ucXtSgTrM&vet=12ahUKEwjBgPurrc_oAhX1cc0KHY4zC5kQMygBegUIARCgAg..i&docid=lDyrOF04rwTMOM&w=800&h=400&q=people%20at%20a%20party&hl=en&ved=2ahUKEwjBgPurrc_oAhX1cc0KHY4zC5kQMygBegUIARCgAg");
  
}
h1 {
    color:red;
}

#Measurements {
    color: red;
}
p {
      font-size: 24px;
}
